/* General body styling with background gradient and modern aesthetic */
body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 230);
  /* background: linear-gradient(135deg, #e0f7fa, #80deea); */
  color: #707070;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(12px);
}

/* Container styling with dynamic tilt effect */
.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 450px;
  width: 100%;
  height: auto;
  transform: perspective(1000px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  /* margin-top: 5px; */
}

.container:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

/* Input field animations for hover and focus */
.input-fields {
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: #4b4b4b;
  padding: 15px;
  margin: 15px 30px;
  background: none;
  color: #000000;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 50px;
}

.input-fields:hover {
  background-color: #e0f7fa;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.input-fields:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Button styling with gradient and hover effect */
.Signup-button {
  width: 50%;
  margin-top: 80px;
  border: none;
  border-radius: 25px;
  height: 50px;
  background: #509ee8;
  transition: background 0.2s ease-out, transform 0.2s ease-out;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}

.Signup-button:hover {
  /* background: linear-gradient(135deg, #79b4b9, #2c89e1); */
  background: #50e89a;
  /* background-color: #50e89a; */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  filter: blur(80px);
  z-index: -1;
  animation: moveBackground 6s infinite alternate;
}

.brand-logo{
  color: #509ee8;
}

.form-copyright{
  font-size: 10px;
  margin-left: 60px;
}

@media(max-width:760px){
  body{
    background: none;
    background-color: #b3eaf2;
    overflow: hidden;
  }
  
  .container{
    width: 75%;
  }

  .input-fields{
    width: 85%;
  }
}

@keyframes moveBackground {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-50px) translateY(-50px);
  }
}
